html, head, body {
    margin: 5px;
    background-color: #101010;
    color: white;

    display: flex;

    font-family: monospace;
    font-size: 18px;

    white-space: pre-line;
}

canvas {
    display: block;  /* prevents scrollbar */
    image-rendering: pixelated;
}

a:link, a:visited {
    color: #c95bf8;
}